<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Title" value="Universal Voting"/>
    <!--<add key="DataSource" value="TEYDI\SQLEXPRESS01"/>-->
    <add key="DataSource" value="RYU-PC\SQLEXPRESS"/>
    <add key="InitialCatalog" value="FakeJudge"/>
    <add key="IntegratedSecurity" value="true"/>
    <!--<add key="IntegratedSecurity" value="false"/>
    <add key="UserID" value="test"/>
    <add key="Password" value="test"/>-->
  </appSettings>
</configuration>