USE [master]
GO
/****** Object:  Database [FakeJudge]    Script Date: 3/6/2017 3:32:00 PM ******/
CREATE DATABASE [FakeJudge]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FakeJudge', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\FakeJudge.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FakeJudge_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\FakeJudge_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FakeJudge].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FakeJudge]
GO
USE [FakeJudge]
GO
/****** Object:  Table [dbo].[Contestant]    Script Date: 3/6/2017 3:32:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contestant](
	[ContestantID] [int] IDENTITY(1,1) NOT NULL,
	[EventID] [int] NOT NULL,
	[PersonID] [int] NOT NULL,
	[ContestantNumber] [int] NOT NULL,
	[TotalScore] [int] NOT NULL,
 CONSTRAINT [PK_Contestant] PRIMARY KEY CLUSTERED 
(
	[ContestantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Criteria]    Script Date: 3/6/2017 3:32:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Criteria](
	[CriteriaID] [int] IDENTITY(1,1) NOT NULL,
	[CriteriaName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Criteria] PRIMARY KEY CLUSTERED 
(
	[CriteriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Event]    Script Date: 3/6/2017 3:32:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[EventName] [varchar](50) NOT NULL,
	[EventID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventCriteria]    Script Date: 3/6/2017 3:32:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventCriteria](
	[EventID] [int] NOT NULL,
	[CriteriaID] [int] NOT NULL,
	[EventCriteriaID] [int] IDENTITY(1,1) NOT NULL,
	[Weight] [int] NOT NULL,
 CONSTRAINT [PK_EventCriteria] PRIMARY KEY CLUSTERED 
(
	[EventCriteriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventJudges]    Script Date: 3/6/2017 3:32:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventJudges](
	[EventID] [int] NOT NULL,
	[JudgeID] [int] NOT NULL,
	[EventJudgesID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_EventJudges] PRIMARY KEY CLUSTERED 
(
	[EventJudgesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventOrganizer]    Script Date: 3/6/2017 3:32:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventOrganizer](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[adminUname] [varchar](50) NOT NULL,
	[adminPword] [varchar](50) NOT NULL,
	[EventID] [int] NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_Admin] UNIQUE NONCLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Judge]    Script Date: 3/6/2017 3:32:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Judge](
	[JudgeID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[judgeUname] [varchar](50) NOT NULL,
	[judgePword] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Judge] PRIMARY KEY CLUSTERED 
(
	[JudgeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_Judge] UNIQUE NONCLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OutputScore]    Script Date: 3/6/2017 3:32:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutputScore](
	[OutputScoreID] [int] IDENTITY(1,1) NOT NULL,
	[ScoreID] [int] NOT NULL,
	[RawScore] [int] NOT NULL,
 CONSTRAINT [PK_OutputScore] PRIMARY KEY CLUSTERED 
(
	[OutputScoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Person]    Script Date: 3/6/2017 3:32:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Score]    Script Date: 3/6/2017 3:32:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Score](
	[ScoreID] [int] NOT NULL,
	[EventCriteriaID] [int] IDENTITY(1,1) NOT NULL,
	[ContestantID] [int] NOT NULL,
	[EventJudgesID] [int] NOT NULL,
	[Score] [int] NOT NULL,
 CONSTRAINT [PK_Score] PRIMARY KEY CLUSTERED 
(
	[ScoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TotalScore]    Script Date: 3/6/2017 3:32:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TotalScore](
	[TotalScoreID] [int] NOT NULL,
	[ContestantID] [int] NOT NULL,
	[EventID] [int] NOT NULL,
	[Total] [int] NOT NULL,
 CONSTRAINT [PK_TotalScore] PRIMARY KEY CLUSTERED 
(
	[TotalScoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_OutputScore]    Script Date: 3/6/2017 3:32:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_OutputScore] ON [dbo].[OutputScore]
(
	[OutputScoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contestant]  WITH CHECK ADD  CONSTRAINT [FK_Contestant_Event] FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[Contestant] CHECK CONSTRAINT [FK_Contestant_Event]
GO
ALTER TABLE [dbo].[Contestant]  WITH CHECK ADD  CONSTRAINT [FK_Contestant_Person] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Person] ([PersonID])
GO
ALTER TABLE [dbo].[Contestant] CHECK CONSTRAINT [FK_Contestant_Person]
GO
ALTER TABLE [dbo].[EventCriteria]  WITH CHECK ADD  CONSTRAINT [FK_EventCriteria_Criteria] FOREIGN KEY([CriteriaID])
REFERENCES [dbo].[Criteria] ([CriteriaID])
GO
ALTER TABLE [dbo].[EventCriteria] CHECK CONSTRAINT [FK_EventCriteria_Criteria]
GO
ALTER TABLE [dbo].[EventCriteria]  WITH CHECK ADD  CONSTRAINT [FK_EventCriteria_Event] FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[EventCriteria] CHECK CONSTRAINT [FK_EventCriteria_Event]
GO
ALTER TABLE [dbo].[EventJudges]  WITH CHECK ADD  CONSTRAINT [FK_EventJudges_Even] FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[EventJudges] CHECK CONSTRAINT [FK_EventJudges_Even]
GO
ALTER TABLE [dbo].[EventJudges]  WITH CHECK ADD  CONSTRAINT [FK_EventJudges_Judge] FOREIGN KEY([JudgeID])
REFERENCES [dbo].[Judge] ([JudgeID])
GO
ALTER TABLE [dbo].[EventJudges] CHECK CONSTRAINT [FK_EventJudges_Judge]
GO
ALTER TABLE [dbo].[EventOrganizer]  WITH CHECK ADD  CONSTRAINT [FK_Admin_Event] FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[EventOrganizer] CHECK CONSTRAINT [FK_Admin_Event]
GO
ALTER TABLE [dbo].[EventOrganizer]  WITH CHECK ADD  CONSTRAINT [FK_Admin_Person] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Person] ([PersonID])
GO
ALTER TABLE [dbo].[EventOrganizer] CHECK CONSTRAINT [FK_Admin_Person]
GO
ALTER TABLE [dbo].[Judge]  WITH CHECK ADD  CONSTRAINT [FK_Judge_Person] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Person] ([PersonID])
GO
ALTER TABLE [dbo].[Judge] CHECK CONSTRAINT [FK_Judge_Person]
GO
ALTER TABLE [dbo].[OutputScore]  WITH CHECK ADD  CONSTRAINT [FK_OutputScore_Score] FOREIGN KEY([ScoreID])
REFERENCES [dbo].[Score] ([ScoreID])
GO
ALTER TABLE [dbo].[OutputScore] CHECK CONSTRAINT [FK_OutputScore_Score]
GO
ALTER TABLE [dbo].[Score]  WITH CHECK ADD  CONSTRAINT [FK_Score_Contestant] FOREIGN KEY([ContestantID])
REFERENCES [dbo].[Contestant] ([ContestantID])
GO
ALTER TABLE [dbo].[Score] CHECK CONSTRAINT [FK_Score_Contestant]
GO
ALTER TABLE [dbo].[Score]  WITH CHECK ADD  CONSTRAINT [FK_Score_EvenCriteria] FOREIGN KEY([EventCriteriaID])
REFERENCES [dbo].[EventCriteria] ([EventCriteriaID])
GO
ALTER TABLE [dbo].[Score] CHECK CONSTRAINT [FK_Score_EvenCriteria]
GO
ALTER TABLE [dbo].[Score]  WITH CHECK ADD  CONSTRAINT [FK_Score_EventJudges] FOREIGN KEY([EventJudgesID])
REFERENCES [dbo].[EventJudges] ([EventJudgesID])
GO
ALTER TABLE [dbo].[Score] CHECK CONSTRAINT [FK_Score_EventJudges]
GO
ALTER TABLE [dbo].[TotalScore]  WITH CHECK ADD  CONSTRAINT [FK_TotalScore_Contestant] FOREIGN KEY([ContestantID])
REFERENCES [dbo].[Contestant] ([ContestantID])
GO
ALTER TABLE [dbo].[TotalScore] CHECK CONSTRAINT [FK_TotalScore_Contestant]
GO
ALTER TABLE [dbo].[TotalScore]  WITH CHECK ADD  CONSTRAINT [FK_TotalScore_Event] FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[TotalScore] CHECK CONSTRAINT [FK_TotalScore_Event]
GO
USE [master]
GO
